body{
    background: url(../images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    margin-top: 2.5rem;
    margin-left: 5rem;
   
}

.cabecalho{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2rem;
}

.cabecalho .logo img{
    width: 10rem;
}

.container{
    display: flex;
    justify-content: flex-start;
}

.container .infos{
  display: flex;
  flex-direction: column;
  margin: 50px 50px;
  
}

.container .infos h1{
    font-size: 2.1rem;
    color: white;
}

.container .infos p{
    width: 29.5rem;
    color: white;
    margin-top: 1rem;
}

.container a{
    background-color: white;
    color: hsl(257, 40%, 49%);
    padding: 10px 50px;
    border-radius: 1.9rem;
    align-self: flex-start;
    margin-top: 1.5rem;
    transition: 0.4s;
}

.container a:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}

.rodape{
    display: flex;
    justify-content: flex-end;
    margin-right: 14rem;
}

.rodape a{
    color: white;
    margin: 0.6rem;
    font-size: 1.5rem;
    transition: 0.4s;
}

.rodape a:hover{
    color: hsl(300, 69%, 71%);
}

