body{
    background: url(../images/bg-desktop.svg) no-repeat;
    background-size: cover;
    background-color: var(--background-color);
    overflow-y: hidden;
    font-family: 'Open Sans', Arial;
  
}

.main{
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho .logo{
    margin: 3% 3% 3%;
}


.cabecalho .logo .image{
    width: 200px;
}

.container{
    display: flex;
    margin: 3% 3% 0;
}

.container .infos{
    display: flex;
    flex-direction: column;
    margin: 5.5%;
}

.container .infos .title,
.container .infos .subtitle{
    color: white;
    font-size: 36px;
    line-height: 60px;
}

.container .infos .paragraph{
    color: white;
    margin-top: 4%;
    margin-bottom: 4%;
    line-height: 25px;
    font-size: 15px;
    font-weight: 400;
    max-width: 450px;
    min-width: 200px;
}

.container .infos .btn{
    display: flex;
    align-self: flex-start;
    padding: 15px 60px;
    background-color: white;
    color: var(--background-color);
    border-radius: 40px;
    transition: 0.4s;
}

.container .infos .btn:hover{
    background-color: var(--color-elements);
    color: white;
}

.rodape .nav-icones .icones{
    display: flex;
    justify-content: flex-end;
    margin-right: 12%;
}

.rodape .nav-icones .icones li{
    margin-left: 2.5%;
}
.rodape .nav-icones .icones li i{
    color: white;
    padding: 50%;   
    background-color: var(--background-color);
    border: 1px solid white;
    border-radius: 50%;
    transition: 0.4s;
}

.rodape .nav-icones .icones li i:hover{
    color: var(--color-elements);
    border: 1px solid var(--color-elements);
}
