@media(max-width: 1000px){
 body{
    margin-left: 2rem;
    background: url(../images/bg-mobile.svg) center no-repeat cover;
    background-color: hsl(257, 40%, 49%);
    
 }

.cabecalho .logo img{
    width: 8rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .container img{
    width: 25rem;
 }

 .container .infos h1{
    font-size: 1.5rem;
    text-align: center;
 }

 .container .infos p{
    width: 18.75rem;
    text-align: center;
 }

 .container .infos a{
    align-self: center;
    padding: 10px 80px;
 }

.rodape{
    display: flex;
    justify-content: center;
    margin-right:0;
}
}